<table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Phone Number</th>
      <th>Appointment Date & Time</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let appt of appointments">
      <td>{{ appt.firstName }}</td>
      <td>{{ appt.lastName }}</td>
      <td>{{ appt.phoneNo }}</td>
      <td>{{ appt.dateTime }}</td>
      <td><span [ngClass]="getStatusClass(appt.status)">{{ appt.status }}</span></td>
      <td>
        <button *ngIf="appt.status == 'Open'"  class="pay">Mark Completed</button>
        <button *ngIf="appt.status == 'Booked'"  class="pay">Mark Open</button>
        <button *ngIf="appt.status == 'Completed'"  class="pay">Archive</button>
      </td>
    </tr>
  </tbody>
</table>