<table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Phone Number</th>
      <th>Appointment Date & Time</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let appt of appointments">
      <td>{{ appt.firstName }}</td>
      <td>{{ appt.lastName }}</td>
      <td>{{ appt.phoneNo }}</td>
      <td>{{ appt.dateTime }}</td>
      <td><span [ngClass]="getStatusClass(appt.status)">{{ appt.status }}</span></td>
      <td>
        <button 
          class="pay" 
          *ngIf="appt.status == 'Open'" 
          (click)="updateRecord(appt)">
          Mark Completed
        </button>
        <button 
          class="pay" 
          *ngIf="appt.status == 'Booked'" 
          (click)="updateRecord(appt)">
          Mark Open
        </button>
        <button 
          class="pay" 
          *ngIf="appt.status == 'Completed'" 
          (click)="updateRecord(appt)">
          Archive
        </button>
      </td>
    </tr>
  </tbody>
</table>